@{
    ViewBag.Title = "Oblicz CPM/BRM";
}
<script src="~/Scripts/cpm.js"></script>

<div class="row" id="leftcontentCPM">
    <div class="col-md-3">
        <div class="card1 text-center">
            <div class="card-block">

                <form id="bmiform">
                    <h4>Oblicz swoje zaporzebowanie BRM / CPM</h4>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Podaj wagę</label>
                        <input type="text" class="form-control" id="weight" placeholder="w kilogramach">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Podaj wzrost</label>
                        <input type="text" class="form-control" id="growth" placeholder="w centymetrach">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Podaj wiek</label>
                        <input type="number" class="form-control" name="quantity" min="1" placeholder="w latach" id="age">

                    </div>
                    <div class="form-group radioCPMBRM" id="sex">
                        <label for="female">Wybierz płeć:</label><br>
                        <input id="female" type="radio" name="sex" value="female" checked>&nbsp;&nbsp;Kobieta<br>
                        <input id="male" type="radio" name="sex" value="male">&nbsp;&nbsp;Mężczyzna<br>
                    </div>
                    <div class="form-group radioCPMBRM" id="activity">
                        <label for="activity">Rodzaj aktywności fizycznej:</label><br>
                        <input id="level0" type="radio" name="activity" value="Brak aktywności" checked>&nbsp;&nbsp;Brak aktywności, praca siedząca<br>
                        <input id="level1" type="radio" name="activity" value="Niska aktywność">&nbsp;&nbsp;Niska aktywność (praca siedząca z 1-2 treningami w tygodniu)<br>
                        <input id="level2" type="radio" name="activity" value="Średnia aktywność">&nbsp;&nbsp;Średnia aktywność (praca siedząca z treningami 3-4 razy w tygodniu)<br>
                        <input id="level3" type="radio" name="activity" value="Wysoka aktywność">&nbsp;&nbsp;Wysoka aktywność (praca fizyczna z 3-4 treningami w tygodniu)<br>
                        <input id="level4" type="radio" name="activity" value="Bardzo wysoka aktywność">&nbsp;&nbsp;Bardzo wysoka aktywność (zawodowi sportowcy, osoby codziennie trenujące)<br>
                    </div>
                    <a href="" class="btn btn-primary buttonwhite" onfocus="BrmCpm()" type="submit">Oblicz</a>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="ModalInfoCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">BMI - Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="infocontent1" class="modal-body">
                @* This field generating in js  *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalPromo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CPM/BRM - Promocja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="infocontent" class="modal-body">
                @*<h4 class="text-center">Specjalna oferta!</h4>
                <h5 class="text-center">Możesz skorzystać z świetnej promocji poniżej:</h5>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-diet1-tab" data-toggle="tab" href="#nav-diet1" role="tab" aria-controls="nav-diet1" aria-selected="true">Dieta1</a>
                        <a class="nav-item nav-link" id="nav-diet2-tab" data-toggle="tab" href="#nav-diet2" role="tab" aria-controls="nav-diet2" aria-selected="false">Dieta2</a>
                        <a class="nav-item nav-link" id="nav-diet3-tab" data-toggle="tab" href="#nav-diet3" role="tab" aria-controls="nav-diet3" aria-selected="false">Dieta3</a>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="nav-diet1" role="tabpanel" aria-labelledby="nav-diet1-tab">
                        <div class="card" id="cardcenter" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">' + title1 + '</h5>
                                <h6 class="card-subtitle mb-2 text-muted">' + subtitle1 + '</h6>
                                <p class="card-text">'+cardtext1+'</p>
                                <a href="https://mdwojak.pl/" class="card-link">Zamów już teraz</a>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-diet2" role="tabpanel" aria-labelledby="nav-diet2-tab">
                        <div class="card" id="cardcenter" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">'+title2'</h5>
                                <h6 class="card-subtitle mb-2 text-muted">'+subtitle2+'</h6>
                                <p class="card-text">'+cardtext2+'</p>
                                <a href="https://mdwojak.pl/" class="card-link">Zamów już teraz</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-diet3" role="tabpanel" aria-labelledby="nav-diet3-tab">
                        <div class="card" id="cardcenter" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">'+title3+'</h5>
                                <h6 class="card-subtitle mb-2 text-muted">'+subtitle3+'</h6>
                                <p class="card-text">'+cardtext3+'</p>
                                <a href="https://mdwojak.pl/" class="card-link">Zamów już teraz</a>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
@*<div class="row" id="leftcontent2">
        <div class="col-md-3">
            <div class="card text-center">
                <img class="card-img-top" src="~/Content/img/belly-body-calories-diet-42069.jpeg" alt="Card image cap" style="width:100%">
                <div class="card-block leftconentincardblock">
                    <h4 class="card-title">Oblicz idealną wagę</h4>
                    <p class="card-text">Oblicz swoje BMI i poznaj w pełni swoje ciało. </p>

                    <a href="@Url.Action("bmi", "Home")" class="btn btn-primary buttoninleftcontent">Oblicz kcal</a>
                </div>
            </div>
        </div>
    </div>*@
